<h1>Patient Records</h1>
<%= link_to 'New Patient Record', new_patient_record_path %>
<table>
  <!-- Table headers -->
  <tbody>
    <% @patient_records.each do |record| %>
      <tr>
        <!-- Record details -->
        <td><%= record.patient.full_name %></td>
        <td><%= link_to 'Show', record %></td>
        <td><%= link_to 'Edit', edit_patient_record_path(record) %></td>
        <td><%= button_to 'Destroy', patient_record_path(record), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
